PORT=8000 # API port

ETH_NODES_HOST=localhost # host of ethereum nodes

# Full path to the local storage for etherem files: logs, nodes, genesis.json, etc.
# ! path length should not exceed 40 symbols, due to the built-in Geth restrictions.
ETH_LOCAL_STORAGE=~/Desktop/geth

DB_HOST=localhost # PSQL credentials
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=geth